---
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import Layout from "../layouts/Layout.astro";
import CodeUnik from "@components/Code.svelte";
import Howworks from "@components/Howworks.astro";
import Qna from "@components/Qna.astro";
import Testimonials from "@components/Testimonials.astro";
import Cta from "@components/Cta.astro";
---

<Layout
  title="Absensi Digital: Revolusi Presensi dengan QR Code | Cepat dan Gaya!"
  description="Temukan kemudahan absensi digital dengan sistem QR code kami. Cepat, akurat, dan penuh gaya untuk dunia pendidikan dan profesional. Bergabunglah dengan revolusi presensi digital kami dan rasakan perbedaannya!"
>
  <main class="px-5 md:px-12">
    <Hero />
    <Testimonials />

    <Feature />

    <Howworks />
    <Qna />
    <Cta />
  </main>
</Layout>
<button
  id="toggle-whatsapp"
  class="bg-white/80 p-5 rounded-md fixed bottom-8 z-50 left-5"
  ><div class="i-tabler-barcode h-5 w-5"></div></button
>

<div
  role="button"
  aria-label="Chat WhatsApp"
  id="whatsapp-buttons"
  class="bg-white/80 p-5 rounded-md fixed bottom-8 z-50 left-5"
  style="display: none;"
>
  <CodeUnik client:only />
</div>
