<blockquote
class="bg-gradient-to-r rounded-md from-[#31bdc6] to-[#3178c6] p-[1px] dark:bg-dark-gradient brightness-90 contrast-150 dark:brightness-125 dark:contrast-100"
>
<section
  class="bg-white dark:bg-gray-900 py-10 px-6 lg:px-10 text-center shadow-xl rounded-lg"
>
  <div class="max-w-3xl mx-auto">
    <h2
      class="text-2xl lg:text-3xl font-extrabold text-gray-800 dark:text-white mb-6"
    >
      Gabung di Revolusi Digital Kami!
    </h2>
    <p class="text-md lg:text-lg text-gray-700 dark:text-gray-300 mb-6">
      Proyek ini bukan sekadar ide, tapi sudah jadi kenyataan! Kami sedang
      mengembangkannya lebih lanjut dan ingin berbagi progres kami dengan
      Anda. Jika Anda tertarik untuk melihat bagaimana sistem ini bekerja
      dan ingin berdiskusi lebih lanjut, jangan ragu untuk bergabung dengan
      kami. Konsultasi gratis, loh! Ayo, coba sekarang dan lihat bagaimana
      sistem kami bisa membawa perubahan!
    </p>
    <a
      href="#daftar-demo"
      class="inline-block decoration-none bg-gradient-to-r from-green-400 to-green-600 hover:from-green-500 hover:to-green-700 focus:ring focus:ring-green-300 text-white font-bold py-3 px-6 rounded-full transition-all duration-300 ease-in-out shadow-md transform hover:-translate-y-1 hover:shadow-lg"
    >
      Daftar untuk Demo Gratis
    </a>
  </div>
</section>
</blockquote>