<div
class="not-prose max-w-screen relative flex flex-col items-center justify-center rounded-xl border bg-background p-8 md:p-16"
>
<div
  class="absolute inset-0 h-full w-full bg-[radial-gradient(#00000055_1px,transparent_1px)] dark:bg-[radial-gradient(#ffffff22_1px,transparent_1px)] lab-bg [background-size:16px_16px]"
>
</div><div
  class="grid w-full auto-rows-[22rem] grid-cols-3 gap-4 lg:grid-rows-3"
>
  <div
    class="group relative col-span-3 flex flex-col justify-between overflow-hidden rounded-xl bg-white [box-shadow:0_0_0_1px_rgba(0,0,0,.03),0_2px_4px_rgba(0,0,0,.05),0_12px_24px_rgba(0,0,0,.05)] dark:bg-transparent dark:backdrop-blur-md dark:[border:1px_solid_rgba(255,255,255,.1)] dark:[box-shadow:0_-20px_80px_-20px_#ffffff1f_inset] lg:row-start-3 lg:row-end-4 lg:col-start-2 lg:col-end-3"
  >
    <div><img class="absolute -right-20 -top-20 opacity-60" /></div><div
      class="pointer-events-none z-10 flex flex-col gap-1 p-6 transition-all duration-300 group-hover:-translate-y-10"
    >
      <div
        class="i-tabler-sun h-12 w-12 text-neutral-700 transition-all duration-300 ease-in-out group-hover:h-9 group-hover:w-9"
      >
      </div>
      <h3
        class="text-xl font-semibold text-neutral-700 dark:text-neutral-300"
      >
        Dewi Sartika
      </h3><p class="max-w-lg text-neutral-400">
        Interface pengguna yang ramah dan proses presensi tanpa hambatan
        membuat sistem ini pilihan nomor satu saya.
      </p>
    </div><div
      class="pointer-events-none flex flex-row items-center p-4 transition-all duration-300 group-hover:translate-y-0 group-hover:opacity-100 translate-y-10 opacity-0 absolute bottom-0 w-full"
    >
      <a
        href="/"
        class="inline-flex items-center justify-center font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs pointer-events-auto"
        >Learn more<svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="ml-2 h-4 w-4"
          ><path
            d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </div><div
      class="pointer-events-none absolute inset-0 transition-all duration-300 group-hover:bg-black/[.03] group-hover:dark:bg-neutral-800/10"
    >
    </div>
  </div><div
    class="group relative col-span-3 flex flex-col items-center justify-center overflow-hidden rounded-xl bg-white [box-shadow:0_0_0_1px_rgba(0,0,0,.03),0_2px_4px_rgba(0,0,0,.05),0_12px_24px_rgba(0,0,0,.05)] dark:bg-transparent dark:backdrop-blur-md dark:[border:1px_solid_rgba(255,255,255,.1)] dark:[box-shadow:0_-20px_80px_-20px_#ffffff1f_inset] lg:row-start-1 lg:row-end-3 lg:col-start-2 lg:col-end-3"
  >
    <h3
      class="text-3xl md:text-5xl lg:text-6xl font-bold text-center my-4 mx-auto leading-normal text-neutral-700 dark:text-neutral-300"
    >
      Kata <br /> Mereka
    </h3>
  </div>

  <div
    class="group relative col-span-3 flex flex-col justify-between overflow-hidden rounded-xl bg-white [box-shadow:0_0_0_1px_rgba(0,0,0,.03),0_2px_4px_rgba(0,0,0,.05),0_12px_24px_rgba(0,0,0,.05)] dark:bg-transparent dark:backdrop-blur-md dark:[border:1px_solid_rgba(255,255,255,.1)] dark:[box-shadow:0_-20px_80px_-20px_#ffffff1f_inset] lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-3"
  >
    <div><img class="absolute -right-20 -top-20 opacity-60" /></div><div
      class="pointer-events-none z-10 flex flex-col gap-1 p-6 transition-all duration-300 group-hover:-translate-y-10"
    >
      <div
        class="i-tabler-sun h-12 w-12 text-neutral-700 transition-all duration-300 ease-in-out group-hover:h-9 group-hover:w-9"
      >
      </div>
      <h3
        class="text-xl font-semibold text-neutral-700 dark:text-neutral-300"
      >
        Ayu Lestari
      </h3><p class="max-w-lg text-neutral-400">
        Pengalaman saya menggunakan sistem presensi QR ini sangat
        mengesankan. Prosesnya cepat dan mudah, sangat efisien untuk kelas
        besar!
      </p>
    </div><div
      class="pointer-events-none flex flex-row items-center p-4 transition-all duration-300 group-hover:translate-y-0 group-hover:opacity-100 translate-y-10 opacity-0 absolute bottom-0 w-full"
    >
      <a
        href="/"
        class="inline-flex items-center justify-center font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs pointer-events-auto"
        >Learn more<svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="ml-2 h-4 w-4"
          ><path
            d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </div><div
      class="pointer-events-none absolute inset-0 transition-all duration-300 group-hover:bg-black/[.03] group-hover:dark:bg-neutral-800/10"
    >
    </div>
  </div><div
    class="group relative col-span-3 flex flex-col justify-between overflow-hidden rounded-xl bg-white [box-shadow:0_0_0_1px_rgba(0,0,0,.03),0_2px_4px_rgba(0,0,0,.05),0_12px_24px_rgba(0,0,0,.05)] dark:bg-transparent dark:backdrop-blur-md dark:[border:1px_solid_rgba(255,255,255,.1)] dark:[box-shadow:0_-20px_80px_-20px_#ffffff1f_inset] lg:col-start-1 lg:col-end-2 lg:row-start-3 lg:row-end-4"
  >
    <div><img class="absolute -right-20 -top-20 opacity-60" /></div><div
      class="pointer-events-none z-10 flex flex-col gap-1 p-6 transition-all duration-300 group-hover:-translate-y-10"
    >
      <div
        class="i-tabler-sun h-12 w-12 text-neutral-700 transition-all duration-300 ease-in-out group-hover:h-9 group-hover:w-9"
      >
      </div>
      <h3
        class="text-xl font-semibold text-neutral-700 dark:text-neutral-300"
      >
        Agus Salim
      </h3><p class="max-w-lg text-neutral-400">
        Saya terkesan dengan akurasi dan keamanan dari sistem presensi QR
        ini. Sangat direkomendasikan!
      </p>
    </div><div
      class="pointer-events-none flex flex-row items-center p-4 transition-all duration-300 group-hover:translate-y-0 group-hover:opacity-100 translate-y-10 opacity-0 absolute bottom-0 w-full"
    >
      <a
        href="/"
        class="inline-flex items-center justify-center font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs pointer-events-auto"
        >Learn more<svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="ml-2 h-4 w-4"
          ><path
            d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </div><div
      class="pointer-events-none absolute inset-0 transition-all duration-300 group-hover:bg-black/[.03] group-hover:dark:bg-neutral-800/10"
    >
    </div>
  </div><div
    class="group relative col-span-3 flex flex-col justify-between overflow-hidden rounded-xl bg-white [box-shadow:0_0_0_1px_rgba(0,0,0,.03),0_2px_4px_rgba(0,0,0,.05),0_12px_24px_rgba(0,0,0,.05)] dark:bg-transparent dark:backdrop-blur-md dark:[border:1px_solid_rgba(255,255,255,.1)] dark:[box-shadow:0_-20px_80px_-20px_#ffffff1f_inset] lg:col-start-3 lg:col-end-3 lg:row-start-1 lg:row-end-2"
  >
    <div><img class="absolute -right-20 -top-20 opacity-60" /></div><div
      class="pointer-events-none z-10 flex flex-col gap-1 p-6 transition-all duration-300 group-hover:-translate-y-10"
    >
      <div
        class="i-tabler-sun h-12 w-12 text-neutral-700 transition-all duration-300 ease-in-out group-hover:h-9 group-hover:w-9"
      >
      </div>
      <h3
        class="text-xl font-semibold text-neutral-700 dark:text-neutral-300"
      >
        Rian Hidayat
      </h3><p class="max-w-lg text-neutral-400">
        Sebagai seorang dosen, sistem ini telah mengubah cara saya mengelola
        kehadiran siswa. Sangat inovatif!
      </p>
    </div><div
      class="pointer-events-none flex flex-row items-center p-4 transition-all duration-300 group-hover:translate-y-0 group-hover:opacity-100 translate-y-10 opacity-0 absolute bottom-0 w-full"
    >
      <a
        href="/"
        class="inline-flex items-center justify-center font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs pointer-events-auto"
        >Learn more<svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="ml-2 h-4 w-4"
          ><path
            d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </div><div
      class="pointer-events-none absolute inset-0 transition-all duration-300 group-hover:bg-black/[.03] group-hover:dark:bg-neutral-800/10"
    >
    </div>
  </div><div
    class="group relative col-span-3 flex flex-col justify-between overflow-hidden rounded-xl bg-white [box-shadow:0_0_0_1px_rgba(0,0,0,.03),0_2px_4px_rgba(0,0,0,.05),0_12px_24px_rgba(0,0,0,.05)] dark:bg-transparent dark:backdrop-blur-md dark:[border:1px_solid_rgba(255,255,255,.1)] dark:[box-shadow:0_-20px_80px_-20px_#ffffff1f_inset] lg:col-start-3 lg:col-end-3 lg:row-start-2 lg:row-end-4"
  >
    <div><img class="absolute -right-20 -top-20 opacity-60" /></div><div
      class="pointer-events-none z-10 flex flex-col gap-1 p-6 transition-all duration-300 group-hover:-translate-y-10"
    >
      <div
        class="i-tabler-sun h-12 w-12 text-neutral-700 transition-all duration-300 ease-in-out group-hover:h-9 group-hover:w-9"
      >
      </div>
      <h3
        class="text-xl font-semibold text-neutral-700 dark:text-neutral-300"
      >
        Ayu Lestari
      </h3><p class="max-w-lg text-neutral-400">
        Pengalaman saya menggunakan sistem presensi QR ini sangat
        mengesankan. Prosesnya cepat dan mudah, sangat efisien untuk kelas
        besar!
      </p>
    </div><div
      class="pointer-events-none flex flex-row items-center p-4 transition-all duration-300 group-hover:translate-y-0 group-hover:opacity-100 translate-y-10 opacity-0 absolute bottom-0 w-full"
    >
      <a
        href="/"
        class="inline-flex items-center justify-center font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs pointer-events-auto"
        >Learn more<svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="ml-2 h-4 w-4"
          ><path
            d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </div><div
      class="pointer-events-none absolute inset-0 transition-all duration-300 group-hover:bg-black/[.03] group-hover:dark:bg-neutral-800/10"
    >
    </div>
  </div>
</div>
</div>